# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [6]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Dunedin,NZ,2022-11-12 14:07:54,-45.8742,170.5036,50.81,92,100,3.24,overcast clouds
1,1,Souillac,MU,2022-11-12 14:04:12,-20.5167,57.5167,73.69,63,0,8.66,clear sky
2,2,Beloha,MG,2022-11-12 14:05:32,-25.1667,45.0500,79.45,63,19,20.56,few clouds
3,3,Heinsberg,DE,2022-11-12 14:07:55,51.0667,6.0833,63.46,72,53,2.33,broken clouds
4,4,New Norfolk,AU,2022-11-12 14:02:58,-42.7826,147.0587,47.91,67,100,0.89,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [7]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 95

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [8]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Souillac,MU,2022-11-12 14:04:12,-20.5167,57.5167,73.69,63,0,8.66,clear sky
2,2,Beloha,MG,2022-11-12 14:05:32,-25.1667,45.0500,79.45,63,19,20.56,few clouds
5,5,Tonj,SS,2022-11-12 14:07:55,7.2737,28.6822,90.77,21,100,1.72,overcast clouds
6,6,Kloulklubed,PW,2022-11-12 14:07:55,7.0419,134.2556,83.59,77,15,11.23,few clouds
7,7,Plettenberg Bay,ZA,2022-11-12 14:04:05,-34.0527,23.3716,67.80,68,47,8.48,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [13]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Souillac,MU,2022-11-12 14:04:12,-20.5167,57.5167,73.69,63,0,8.66,clear sky
2,2,Beloha,MG,2022-11-12 14:05:32,-25.1667,45.0500,79.45,63,19,20.56,few clouds
5,5,Tonj,SS,2022-11-12 14:07:55,7.2737,28.6822,90.77,21,100,1.72,overcast clouds
6,6,Kloulklubed,PW,2022-11-12 14:07:55,7.0419,134.2556,83.59,77,15,11.23,few clouds
7,7,Plettenberg Bay,ZA,2022-11-12 14:04:05,-34.0527,23.3716,67.80,68,47,8.48,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [14]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

              City Country  Max Temp       Description      Lat       Lng
1         Souillac      MU     73.69         clear sky -20.5167   57.5167
2           Beloha      MG     79.45        few clouds -25.1667   45.0500
5             Tonj      SS     90.77   overcast clouds   7.2737   28.6822
6      Kloulklubed      PW     83.59        few clouds   7.0419  134.2556
7  Plettenberg Bay      ZA     67.80  scattered clouds -34.0527   23.3716

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [15]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Souillac,MU,73.69,clear sky,-20.5167,57.5167,
2,Beloha,MG,79.45,few clouds,-25.1667,45.0500,
5,Tonj,SS,90.77,overcast clouds,7.2737,28.6822,
6,Kloulklubed,PW,83.59,few clouds,7.0419,134.2556,
7,Plettenberg Bay,ZA,67.80,scattered clouds,-34.0527,23.3716,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [16]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [17]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Souillac,MU,73.69,clear sky,-20.5167,57.5167,Shanti Maurice Resort & Spa
2,Beloha,MG,79.45,few clouds,-25.1667,45.0500,
5,Tonj,SS,90.77,overcast clouds,7.2737,28.6822,Lakan Hotel
6,Kloulklubed,PW,83.59,few clouds,7.0419,134.2556,Storyboard Beach Resort
7,Plettenberg Bay,ZA,67.80,scattered clouds,-34.0527,23.3716,Thanda Vista B&B

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [26]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset=['Hotel Name'])

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Souillac,MU,73.69,clear sky,-20.5167,57.5167,Shanti Maurice Resort & Spa
2,Beloha,MG,79.45,few clouds,-25.1667,45.0500,
5,Tonj,SS,90.77,overcast clouds,7.2737,28.6822,Lakan Hotel
6,Kloulklubed,PW,83.59,few clouds,7.0419,134.2556,Storyboard Beach Resort
7,Plettenberg Bay,ZA,67.80,scattered clouds,-34.0527,23.3716,Thanda Vista B&B

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [27]:
# Set the file name.
output_data_file = "Vacation_Search/Vacation_Search.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="Hotel_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [31]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [32]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Shanti Maurice Resort & Spa</dd>\n<dt>City</dt><dd>Souillac</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>clear sky and 73.69 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Beloha</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Current Weather</dt><dd>few clouds and 79.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lakan Hotel</dd>\n<dt>City</dt><dd>Tonj</dd>\n<dt>Country</dt><dd>SS</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 90.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Storyboard Beach Resort</dd>\n<dt>City</dt><dd>Kloulklubed</dd>\n<dt>Country</dt><dd>PW</dd>\n<dt>Current Weather</dt><dd>few clouds and 83.59 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Thanda Vista B&B</dd>\n<dt>City</dt><dd>Plettenberg Bay</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 67.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tamana hôtel</dd>\n<dt>City</dt><dd>Ihosy</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 81.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maison MC Michel</dd>\n<dt>City</dt><dd>Bulungu</dd>\n<dt>Country</dt><dd>CD</dd>\n<dt>Current Weather</dt><dd>light rain and 83.91 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Ha'apai Beach Resort</dd>\n<dt>City</dt><dd>Pangai</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>light rain and 78.48 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospitality Carnarvon</dd>\n<dt>City</dt><dd>Carnarvon</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 66.79 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [33]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1  -20.5167   57.5167
2  -25.1667   45.0500
5    7.2737   28.6822
6    7.0419  134.2556
7  -34.0527   23.3716
11 -22.4000   46.1167
13   5.4112  100.3354
16  -4.5500   18.6000
18 -19.8000 -174.3500
25 -24.8667  113.6333

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [34]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))